{{!-- NAVBAR --}}
<div class="navbarInicio fontWeight">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="" href="#">
            <img src="assets/images/logoNegro.png" class="img-fluid imageWiRes" alt="Responsive image"
                style="max-width: 18%;">
        </a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto navBarUl">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#servicios">Servicios</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#contacto">Contacto</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <h5>55 51 22 81 63 <i class="fa-solid fa-phone"></i></h5> &nbsp&nbsp
                &nbsp&nbsp
            </form>
        </div>
    </nav>
</div>
{{!-- END NAVBAR --}}
{{!-- <div class="ayudarDiv">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <img src="/assets/images/logoColor.png" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div> --}}
{{!-- <div class="bridge">

</div> --}}
<div class="inicioBanner">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="text-white valueP">
                        Con nosotros su mercancía está segura y disponible en cualquier momento.
                    </h4>
                    <a href="#servicios" class="btn btn-lg btn-white btn-rounded me-3 opacity-80" role="button"
                        data-ripple-color="black">SERVICIOS</a>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>

</div>

<div data-draggable="true" style="position: relative;">
    <!---->
    <!---->
    <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10">
            <div class="card mb-3">
                <div class="row g-0 d-flex align-items-center">
                    <div class="col-lg-4 d-none d-lg-flex"> <img src="/assets/images/personSmile.jpg"
                            alt="Trendy Pants and Shoes" class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5"
                            aria-controls="#picker-editor"> </div>
                    <div class="col-lg-8">
                        <div class="card-body py-5 px-md-5">
                            <h3 style="font-weight: bolder;">FRECUENCIA PROVEEDORA</h3>
                            <hr>
                            <h4 class="fw-bold mb-4">Somos una comercializadora que actuamos como intermediarios para la
                                compra y venta al por mayor de productos de todo tipo para la industria. Contamos con
                                los requisitos fiscales requeridos para esta actividad y como parte de nuestros
                                servicios otorgamos el almacenaje y la distribución de productos apoyándonos de sistemas
                                de gestión altamente eficientes.</h4>
                            <h5 class="text-muted mb-4">«Con nosotros su mercancía está segura y disponible en cualquier
                                momento»</h5>
                            <div class="row mb-3">
                                <div class="col-lg-4 mb-2">
                                    <p onclick="location.href='#servicios';"> <i
                                            class="fa-solid fa-microchip"></i><span> Tecnología
                                        </span>
                                    </p>
                                </div>
                                <div class="col-lg-4 mb-2">
                                    <p onclick="location.href='#servicios';"> <i
                                            class="fa-solid fa-handshake"></i></i><span> Confianza</span> </p>
                                </div>
                                <div class="col-lg-4 mb-2">
                                    <p onclick="location.href='#servicios';"> <i class="fa-solid fa-users"></i><span>
                                            Soluciones</span>
                                    </p>
                                </div>
                                <div class="col-lg-4 mb-2">
                                    <p onclick="location.href='#servicios';"> <i
                                            class="fa-solid fa-circle-info"></i><span> Servicio</span> </p>
                                </div>
                            </div> <button type="button" class="btn btn-primary btn-lg px-5"
                                onclick="location.href='#contacto';">Contacto</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!---->
</div>
<div class="bgDiv">
    <div data-draggable="true" style="position: relative;">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10 text-center">
                <h2 class="fw-bold mb-5 text-center"> <span class="me-1">Nuestros Valores </h2>
                <div class="row gx-lg-5">
                    <div class="col-md-3 mb-5 mb-md-0 pointer" onclick="location.href='#servicios';">
                        <div class="p-3 bg-dark rounded-4 shadow-2-strong d-inline-block mb-4"><i
                                class="fa-brands fa-creative-commons-nd text-white fa-lg"></i> </div>
                        <h5 class="fw-bold mb-3">Soluciones inmediatas</h5>
                    </div>
                    <div class="col-md-3 mb-5 mb-md-0 pointer" onclick="location.href='#servicios';">
                        <div class="p-3 bg-dark rounded-4 shadow-2-strong d-inline-block mb-4"><i
                                class="fa-brands fa-solid fa-gauge-simple-high text-white fa-lg"></i> </div>
                        <h5 class="fw-bold mb-3">Innovación tecnológica en los procesos</h5>
                    </div>
                    <div class="col-md-3 mb-5 mb-md-0 pointer" onclick="location.href='#servicios';">
                        <div class="p-3 bg-dark rounded-4 shadow-2-strong d-inline-block mb-4"><i
                                class="fa-brands fa-solid fa-person-dots-from-line text-white fa-lg"></i> </div>
                        <h5 class="fw-bold mb-3">Servicios personalizados</h5>
                    </div>
                    <div class="col-md-3 mb-5 mb-md-0 pointer" onclick="location.href='#servicios';">
                        <div class="p-3 bg-dark rounded-4 shadow-2-strong d-inline-block mb-4"><i
                                class="fa-brands fa-shield-alt text-white fa-lg"></i> </div>
                        <h5 class="fw-bold mb-3">Seguridad</h5>
                    </div>
                </div>
            </section>
        </section>
        <!---->
    </div>
</div>
<div data-draggable="true" class="" style="position: relative;" id="servicios">
    <!---->
    <!---->
    <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10 text-center text-lg-start">
            <h2 class="fw-bold mb-5 text-center">CONOCE NUESTROS SERVICIOS</h2>
            <div class="row gx-lg-5">
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-ripple-color="light"> <img
                                src="/assets/images/almacenamiento.jpg" class="img-fluid" alt=""
                                aria-controls="#picker-editor"> <svg class="position-absolute"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="left: 0; bottom: 0">
                            </svg> </div>
                        <div class="card-body">
                            <h5 class="card-title">Almacenamiento</h5>
                            <p class="card-text cardTextScroll">Tenemos servicios de maniobras y bodega de productos
                                hasta la entrega
                                final. Gestionamos la cadena de suministros de su negocio, cubrimos las fases
                                intermedias y supervisamos todo el proceso dando respuestas oportunas en cada etapa.
                                <br>
                                Le brindamos la tecnología e infraestructura requerida para el almacenaje de sus
                                productos, sin que tenga que invertir en equipos costosos, controlamos el inventario de
                                su mercancía con sistemas especializados para este propósito.
                                <br> <br>
                                Contamos con distintos tipos de almacenes, a la medida de cada necesidad con la
                                infraestructura más completa para resguardar de sus productos. <br>
                            </p>
                            <hr>
                            <ul>
                                Ventajas:
                                <li>
                                    Disminución de costos
                                </li>
                                <li>
                                    Respuestas inmediatas a los clientes.
                                </li>
                                <li>
                                    Manejamos carga pesada y sobredimensionada.
                                </li>
                            </ul> <a href="#contacto" class="btn  btn-primary"
                                aria-controls="#picker-editor">Cotizar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-ripple-color="light"> <img
                                src="/assets/images/imports.jpg" class="img-fluid" alt=""
                                aria-controls="#picker-editor"> <svg class="position-absolute"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="left: 0; bottom: 0">
                            </svg> </div>
                        <div class="card-body">
                            <h5 class="card-title">Monitoreo de productos</h5>
                            <p class="card-text cardTextScroll">Contamos con un sistema en el cual nuestros clientes
                                pueden consultar en tiempo real los movimientos de su inventario a través de internet.
                                Nuestro sistema de control y administración de inventarios integra todas las operaciones
                                de entradas y salidas de las mercancías. <br>
                            </p> <a href="#contacto" class="btn  btn-primary" aria-controls="#picker-editor">Cotizar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-ripple-color="light"> <img
                                src="/assets/images/logistica.jpg" class="img-fluid" alt=""
                                aria-controls="#picker-editor"> <svg class="position-absolute"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="left: 0; bottom: 0">

                            </svg> </div>
                        <div class="card-body">
                            <h5 class="card-title">Logística Nacional </h5>
                            <p class="card-text cardTextScroll">Tenemos un amplio grupo de servicios de logística.
                                Generamos propuestas de distribución de productos durante todo el proceso, desde el
                                transporte, almacenaje, maniobras, operación, carga y entrega. Adicionalmente hacemos
                                todos los tramites necesarios para la operación y transporte.
                                Somos un elemento importante en la estrategia comercial de nuestros clientes en la
                                distribución y aseguramiento del suministro de los productos. <br>
                            </p> <a href="#contacto" class="btn  btn-primary" aria-controls="#picker-editor">Cotizar</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!---->
</div>


<div class="misionDiv">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="mision text-center ">
                    <h1 class="fontWeight titleMision">Misión</h1>
                    <hr>
                    <h4 class="paraMision">
                        Generar confianza en nuestros clientes para que cumplan sus objetivos. <br> <br> Que los
                        productos
                        comercializados sean accesibles en todo el mundo utilizando procesos prácticos y eficientes.
                    </h4>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="somosDiv text-center fontWeight container">
    <div class="row">
        <h2 class="fw-bold mb-5 text-center"> <span class="me-1">¿Por qué somos</span><u
                class="text-Dark">diferentes?</u> </h2>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-mdb-toggle="collapse" data-mdb-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <h4 style="font-weight: bolder;">Cumplimos estándares</h4>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-mdb-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Con nosotros sus productos estarán en las mejores manos, cumpliendo con estándares de
                        calidad y seguridad. Brindamos una atención personalizada y constante con cada uno de nuestros
                        clientes durante todo el proceso.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h4 style="font-weight: bolder;">Atención personalizada</h4>
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-mdb-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>En todo momento otorgamos a nuestros clientes reportes personalizados con indicadores del
                        proceso y resultados, así mismo solicitamos evaluaciones por parte de nuestros clientes para
                        mejorar en todo momento nuestros servicios.
                </div>
            </div>
        </div>
    </div>

</div>
<br><br>
<div class="contactoCont text-center bg-light" id="contacto">
    <div class="container">
        <div class="row">
            <h4>CONTÁCTANOS</h4>
            <p>O llámanos al: <i class="fa-solid fa-phone"></i> 55 51 22 81 63</p>
        </div> <br>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);" id="myForm">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nombre</label>
                        <input name="name" type="text" class="form-control formInput" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="Nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo electrónico</label>
                        <input name="email" type="text" class="form-control formInput" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="Correo electrónico" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Número celular</label>
                        <input name="number" type="text" class="form-control formInput" id="exampleInputPassword1"
                            placeholder="Número celular" required>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input formInput" id="exampleCheck1" required>
                        <label class="form-check-label" for="exampleCheck1">Acepto política de privacidad</label>
                    </div> <br>
                    <button type="submit" class="btn btn-dark">Enviar</button>
                </form>
            </div>
            <div class="col-md-3"></div>

        </div>
    </div>
</div>