
.fonts3{
    font-family: 'Nunito Sans', sans-serif !important;

}
.fontWeight{
    font-weight: bolder !important;
}
.bridge{
    height: 20rem;
    background-image: url("/assets/images/bridge.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2%;
    margin-bottom: 2%;
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.459);
}
.privacidadBanner{
    height: 20rem;
    background-image: url("/assets/images/logisticas.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2%;
}
.inicioBanner{
    height: 25rem;
    background-image: url("/assets/images/sol.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 41%;

}
.misionDiv{
    height: 20.5rem;
    background-image: url("/assets/images/map.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4%;
    margin-bottom: 4%;
    color: white !important;
}
.valueProp{
    background-color: rgb(46, 45, 45);
    padding: 1%;
    margin-bottom: 2%;
    color: white !important;
}
.mision{
    /* background-color: rgba(0, 0, 0, 0.781);
    border-radius: 8px; */
    padding: 3%;
    margin-top: 3%;
}
.colorBlack{
    color: black;
}
.imports{
    height: 15rem;
    background-image: url("/assets/images/imports.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.almacenamiento{
    height: 15rem;
    background-image: url("/assets/images/almacenamiento.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4%;
}
.logistica{
    height: 15rem;
    background-image: url("/assets/images/logistica.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4%;
}
.titleService, .titleServiceLg{
    background-color: rgba(0, 0, 0, 0.671);
    padding: 2%;
    margin-top: 20%;
    border-radius: 8px;
}
.collapsServ, .collapsServTwo, .collapsServTr{
    display: none;
}
.service:hover .collapsServ{
    display: block;
}
.serviceTwo:hover .collapsServTwo{
    display: block;
}
.serviceTr:hover .collapsServTr{
    display: block;
}
.logoPriv{
    margin-top: 7%;
}
.contactoCont{
    padding-bottom: 5%;
    padding-top: 5%;
}
.valorAgr{
    margin-top: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.valueP{
    margin-top: 15%;
    text-align: center;
    font-size: 30px;
    background-color: rgba(53, 33, 33, 0.829);
    border-radius: 8px;
    padding: 2%;
}
.rounded-t-5 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.cardTextScroll{
  height: 150px;
  overflow: scroll;
}
.bgDiv{
    background-color: #e0d5ca;
}
.pointer {
    cursor: pointer;
}
@media (min-width: 992px) {
    .valueP{
        width: 80%;
    }
    .rounded-tr-lg-0 {
        border-top-right-radius: 0;
    }

    .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
    }
}

@media(min-width:992px){
    .bgDiv{
        padding-bottom: 0.5%;
    }
    .navbarInicio{
        font-size: 20px;
    }
    .navBarUl{
        margin-left: -33%;
        margin-bottom: 2%;
    }
}
@media(max-width:991px){
    .bgDiv{
        margin-bottom: -17%;
    }
    .imageWiRes{
        max-width: 93% !important;
    }
    .valuePara{
        margin-bottom: 10%;
    }
    .valuePara2{
        margin-top: 10%;
    }

    .privacidadBanner{
        height: 13rem;
        margin-bottom: 5%;
    }
    .expoMar{
        margin-top: 6%;
    }
    .bridge{
        margin-bottom: 10%;
    }
    .misionDiv{
        height: 24rem;
    }
    .mision{
        margin-top: 14%;
    }
    .titleMision{
        font-size: 33px;
    }
    .paraMision{
        font-size: 19px;
    }
    .titleServiceLg{
        margin-top: 7%;
    }
}